{
  "name": "{{npmName}}",
  "version": "{{npmVersion}}",
  "description": "OpenAPI entities for {{npmName}}",
  "author": "Jan-Hendrik Hausner",
  "keywords": [
    "openapi-client",
    "openapi-generator"
  ],
  "license": "MIT",
  "main": "dist/index.js",
  "types": "dist/index.d.ts",
  "files": [
    "dist/**/*"
  ],
  "scripts": {
    "build": "tsc",
    "prepare": "npm run build"
  },
  "devDependencies": {
    "typescript": "^4.7.4"
  }
}
