{
  "compilerOptions": {
    "strict": true,
    "target": "es6",
    "esModuleInterop": true,
    "lib": [
        "es6",
        "dom"
    ],
    "module": "es6",
    "moduleResolution": "node",
    "removeComments": false,
    "declaration": true,
    "sourceMap": true,
    "outDir": "./dist",
    "forceConsistentCasingInFileNames": true,
    "noImplicitAny": true,
    "strictNullChecks": true,
    "strictFunctionTypes": true,
    "strictBindCallApply": true,
    "noImplicitThis": true,
    "useUnknownInCatchVariables": true,
    "alwaysStrict": true,
    "noUnusedLocals": true,
    "noUnusedParameters": true,
    "noFallthroughCasesInSwitch": true,
    "noImplicitOverride": true
  },
  "include": [
    "model",
    "index.ts"
  ],
  "exclude": [
    "node_modules",
    "dist",
    "**/__tests__/*"
  ]
}
