{
  "openapi": "3.0.3",
  "info": {
    "title": "CHANGEABLE",
    "contact": {
      "name": "CHANGEABLE",
      "email": "CHANGEABLE"
    },
    "description": "CHANGEABLE",
    "license": {
      "name": "Apache 2.0",
      "url": "https://github.com/hennihaus/bambankrest/blob/master/LICENSE"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://bambusinessintegration.wi.hs-furtwangen.de/deutschebank",
      "description": "Base-URL"
    }
  ],
  "paths": {
    "/credit": {
      "get": {
        "tags": [
          "Credit"
        ],
        "operationId": "getCredit",
        "parameters": [
          {
            "$ref": "#/components/parameters/amountInEuros"
          },
          {
            "$ref": "#/components/parameters/termInMonths"
          },
          {
            "$ref": "#/components/parameters/ratingLevel"
          },
          {
            "$ref": "#/components/parameters/delayInMilliseconds"
          },
          {
            "$ref": "#/components/parameters/username"
          },
          {
            "$ref": "#/components/parameters/password"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Credit"
    }
  ],
  "components": {
    "parameters": {
      "amountInEuros": {
        "name": "amountInEuros",
        "description": "CHANGEABLE",
        "in": "query",
        "required": true,
        "example": "-1",
        "schema": {
          "type": "integer",
          "format": "int32",
          "minimum": -1,
          "maximum": -1
        }
      },
      "termInMonths": {
        "name": "termInMonths",
        "description": "CHANGEABLE",
        "in": "query",
        "required": true,
        "example": "-1",
        "schema": {
          "type": "integer",
          "format": "int32",
          "minimum": -1,
          "maximum": -1
        }
      },
      "ratingLevel": {
        "name": "ratingLevel",
        "description": "CHANGEABLE",
        "in": "query",
        "required": true,
        "example": "CHANGEABLE",
        "schema": {
          "$ref": "#/components/schemas/RatingLevel"
        }
      },
      "delayInMilliseconds": {
        "name": "delayInMilliseconds",
        "description": "CHANGEABLE",
        "in": "query",
        "required": true,
        "example": "CHANGEABLE",
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 0
        }
      },
      "username": {
        "name": "username",
        "description": "CHANGEABLE",
        "in": "query",
        "required": true,
        "example": "CHANGEABLE",
        "schema": {
          "type": "string",
          "minLength": 6,
          "maxLength": 50
        }
      },
      "password": {
        "name": "password",
        "description": "CHANGEABLE",
        "in": "query",
        "required": true,
        "example": "CHANGEABLE",
        "schema": {
          "type": "string",
          "format": "password",
          "minLength": 8,
          "maxLength": 50
        }
      }
    },
    "responses": {
      "200": {
        "description": "CHANGEABLE",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Credit"
            },
            "example": {
              "lendingRateInPercent": 3.8
            }
          }
        }
      },
      "400": {
        "description": "CHANGEABLE",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Errors"
            },
            "example": {
              "reasons": [
                {
                  "exception": "RequestValidationException",
                  "message": "password is required"
                }
              ],
              "dateTime": "2022-01-31T07:43:30"
            }
          }
        }
      },
      "404": {
        "description": "CHANGEABLE",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Errors"
            },
            "example": {
              "reasons": [
                {
                  "exception": "NotFoundException",
                  "message": "team not found by username and password"
                }
              ],
              "dateTime": "2022-01-31T07:43:30"
            }
          }
        }
      },
      "500": {
        "description": "CHANGEABLE",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Errors"
            },
            "example": {
              "reasons": [
                {
                  "exception": "Exception",
                  "message": "internal server error"
                }
              ],
              "dateTime": "2022-01-31T07:43:30"
            }
          }
        }
      }
    },
    "schemas": {
      "RatingLevel": {
        "type": "string",
        "enum": [
          "A",
          "B",
          "C",
          "D",
          "E",
          "F",
          "G",
          "H",
          "I",
          "J",
          "K",
          "L",
          "N",
          "O",
          "P"
        ]
      },
      "Credit": {
        "type": "object",
        "required": [
          "lendingRateInPercent"
        ],
        "properties": {
          "lendingRateInPercent": {
            "type": "number",
            "format": "double",
            "minimum": 0,
            "maximum": 10
          }
        }
      },
      "Errors": {
        "type": "object",
        "required": [
          "reasons",
          "dateTime"
        ],
        "properties": {
          "reasons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Reason"
            },
            "minItems": 1,
            "uniqueItems": true
          },
          "dateTime": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Reason": {
        "type": "object",
        "required": [
          "exception",
          "message"
        ],
        "properties": {
          "exception": {
            "type": "string",
            "minLength": 1
          },
          "message": {
            "type": "string",
            "minLength": 1
          }
        }
      }
    }
  }
}